@mixin text-center {
  text-align: center;
}

@mixin row {
  grid-column: 1 / span 12;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  font-size: 16px;
}

a,
a:hover,
a:visited {
  color: #00A1D6;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  padding: 15px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/* ----------------------------- 左边栏 ----------------------------- */
.content__left {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, min-content);
  background-color: #0daeee;
  color: #fff;
  &--title {
    @include row;
    @include text-center;
    margin: 15px 0 20px;
    &>h1 {
      margin: 0;
      white-space: nowrap;
      letter-spacing: 1rem;
    }
  }
  @mixin title {
    padding-left: 1.5rem;
  }
  &--contact {
    @include row();
    &>.title {
      @include title;
    }
    &>.list {
      &>li {
        display: grid;
        grid-template-columns: 1.5rem 3rem 1fr;
        align-items: baseline;
        margin: 5px;
        &>span:nth-of-type(1) {
          text-align: center;
        }
        &>span:nth-of-type(2) {
          text-align: right;
          padding-right: .5rem;
        }
      }
    }
  }
  &--application {
    @include row();
    &>.title {
      @include title;
    }
    &>.job {
      padding-left: 40px;
    }
  }
  &--evaluation {
    @include row();
    &>.title {
      @include title;
    }
    &>.evaluate {
      padding-left: 40px;
      padding-right: 1rem;
    }
  }
}

/* ----------------------------- 右边栏 ----------------------------- */
.content__right {
  padding: 15px;
  @mixin header {
    padding: 5px;
    border-bottom: 1px solid currentColor;
    color: #00A1D6;
    font-size: 20px;
  }
  &--basic {
    &>.header {
      @include header;
    }
    &>.list {
      padding: 0;
      &>li {
        margin: 10px 2rem;
        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-column-gap: 10px;
        &>span:nth-of-type(1) {
          font-weight: 600;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
  }
  &--experience {
    &>.header {
      @include header;
    }

    & > .list {
      padding: 0;

      & > li {
        margin: 10px 2rem;
        & > .company {
          display: flex;
          margin-bottom: 15px;
          align-items: center;
          img {
            width: 80px;
            margin-right: 15px;
          }

          span {
            color: #425cf0;
            font-weight: 600;
            font-size: 18px;
            white-space: nowrap;
          }
        }

        & > .work-experience-list {
          
        }
      }
    }
  }
}