@mixin text-center {
  text-align: center;
}

@mixin row {
  grid-column: 1 / span 12;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 15px;
  margin: auto;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.content__left {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, min-content);
  background-color: #0daeee;
  color: #fff;

  &--title {
    @include row;
    @include text-center;
    margin: 15px;
    
    & > h2 {
      margin: 0;
      letter-spacing: 1em;
      font-size: 20px;
    }
  }

  &--contact {
    @include row();
  }

  &--application {
    @include row();
  }

  &--evaluation {
    @include row();
  }
}
