@charset "UTF-8";
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  font-size: 16px;
}

a,
a:hover,
a:visited {
  color: #00A1D6;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 300px) 1fr;
      grid-template-columns: minmax(200px, 300px) 1fr;
  padding: 15px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/* ----------------------------- 左边栏 ----------------------------- */
.content__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  background-color: #0daeee;
  color: #fff;
}

.content__left--title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  text-align: center;
  margin: 15px 0 20px;
}

.content__left--title > h1 {
  margin: 0;
  white-space: nowrap;
  letter-spacing: 1rem;
}

.content__left--contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.content__left--contact > .title {
  padding-left: 1.5rem;
}

.content__left--contact > .list > li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5rem 3rem 1fr;
      grid-template-columns: 1.5rem 3rem 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 5px;
}

.content__left--contact > .list > li > span:nth-of-type(1) {
  text-align: center;
}

.content__left--contact > .list > li > span:nth-of-type(2) {
  text-align: right;
  padding-right: .5rem;
}

.content__left--application {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.content__left--application > .title {
  padding-left: 1.5rem;
}

.content__left--application > .job {
  padding-left: 40px;
}

.content__left--evaluation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.content__left--evaluation > .title {
  padding-left: 1.5rem;
}

.content__left--evaluation > .evaluate {
  padding-left: 40px;
  padding-right: 1rem;
}

/* ----------------------------- 右边栏 ----------------------------- */
.content__right {
  padding: 15px;
}

.content__right--basic > .header {
  padding: 5px;
  border-bottom: 1px solid currentColor;
  color: #00A1D6;
  font-size: 20px;
}

.content__right--basic > .list {
  padding: 0;
}

.content__right--basic > .list > li {
  margin: 10px 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 1fr;
      grid-template-columns: 5rem 1fr;
  grid-column-gap: 10px;
}

.content__right--basic > .list > li > span:nth-of-type(1) {
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
}

.content__right--experience > .header {
  padding: 5px;
  border-bottom: 1px solid currentColor;
  color: #00A1D6;
  font-size: 20px;
}

.content__right--experience > .list {
  padding: 0;
}

.content__right--experience > .list > li {
  margin: 10px 2rem;
}

.content__right--experience > .list > li > .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__right--experience > .list > li > .company img {
  width: 80px;
  margin-right: 1rem;
  margin-left: -1.5rem;
}

.content__right--experience > .list > li > .company span {
  color: #425cf0;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}

.content__right--experience > .list > li > .work-experience-list {
  padding: 0;
  position: relative;
}

.content__right--experience > .list > li > .work-experience-list::before {
  content: '';
  position: absolute;
  height: calc(100% - 10px);
  margin-left: -1rem;
  margin-top: 10px;
  border-left: 2px solid #1fb5e6;
}

.content__right--experience > .list > li > .work-experience-list .work__item {
  margin: 10px 0;
}

.content__right--experience > .list > li > .work-experience-list .work__item--name {
  font-weight: 600;
}

.content__right--experience > .list > li > .work-experience-list .work__item--name::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: calc(-4px - 1rem);
  margin-top: .4rem;
  border-radius: 50%;
  background: #1fb5e6;
}

.content__right--experience > .list > li > .work-experience-list .work__item--info > p {
  text-align: justify;
}

.content__right--experience > .list > li > .work-experience-list .work__item--picture img {
  width: 250px;
  margin-right: 15px;
}

.content__right--skill > .header {
  padding: 5px;
  border-bottom: 1px solid currentColor;
  color: #00A1D6;
  font-size: 20px;
}

.content__right--skill > .list {
  padding: 0 2rem;
  position: relative;
}

.content__right--skill > .list::before {
  content: '';
  position: absolute;
  height: calc(100% - 5px);
  margin-left: -1rem;
  margin-top: 5px;
  border-left: 2px solid #1fb5e6;
}

.content__right--skill > .list .list__item {
  margin: 10px 0;
}

.content__right--skill > .list .list__item--name {
  font-weight: 600;
  line-height: 1.2rem;
}

.content__right--skill > .list .list__item--name::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: calc(-4px - 1rem);
  margin-top: .3rem;
  border-radius: 50%;
  background: #1fb5e6;
}
/*# sourceMappingURL=myResume.css.map */